.Owner {
    text-align: center;
    width: 70%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
  }

  .left {
    position: absolute;
    left: 0px;
    padding: 10px;
}

.inner-div
{
     margin: 0 auto;
     text-align: left;
}

.textBox {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

